<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Itinerary</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
      <a href="/logout">Log Out</a>
      <a href="/members/index">Profile</a>
      <a href="/ports/">All Ports</a>
      <a href="/itineraries">All Itineraries</a>
    </nav>

    <h2>Edit <%= itinerary.name %></h2>

    <form action="/itineraries/<%= itinerary._id%>?_method=PUT" method="POST">
      <label>Change the name of your itinerary</label>
      <input type="text" name="name" value="<%= itinerary.name %>"><br>
      <label>Change your description</label>
      <input type="text" name="description" value="<%= itinerary.description %>"><br>
      <button type="submit">Submit</button>
    </form>

    <h2>Ports in this Itinerary</h2>
    <ul>
        <% ports.forEach(function(p) { %>
            <li>
                <%= p.location %>
            </li>
        <% }); %>
    </ul>

</body>
</html>