<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
      <a href="/auth/google">Login With Google</a>
      <a href="/logout">Log Out</a>
    </nav>

    <h2>Add Ports to your Itinerary</h2>
    <form action="/itineraries/<%= itinerary._id%>" method="POST">
        <select name="portId">
            <% ports.forEach(port => { %>
                <option value="<%= port.id %>"><%= port.location %></option>
            <% }) %>
        </select>
        <button type="submit">Add to Itinerary</button>
    </form>

    <h2>Ports in this Itinerary</h2>
    <ul>
        <% itinerary.ports.forEach(function(p) { %>
            <li>
                <%= p.location %>
                <a href="/ports/<%= p._id %>">Details</a>
            </li>
        <% }); %>
    </ul>

    <a href="/itineraries/<%= itinerary._id%>/edit">Edit</a>
</body>
</html>