<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Port-Side</title>
      <link rel='stylesheet' href='/stylesheets/reset.css' />
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather&display=swap" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
    <section class="wrapper-all">
    <nav>
        <div class="logo">
            <p>PORT-SIDE</p>
        </div>
        <div class="nav-links">
            <a class="nav-a" href="/logout">Log Out</a>
            <a class="nav-a" href="/members/index">Profile</a>
            <a class="nav-a" href="/ports/">All Ports</a>
            <a class="nav-a" href="/itineraries">All Itineraries</a>
        </div>
    </nav>
    <h1>This is the Itinerary</h1>
    <h2>Add Ports to your Itinerary</h2>
    <form action="/itineraries/<%= itinerary._id%>" method="POST">
        <select name="portId">
            <% ports.forEach(port => { %>
                <option value="<%= port.id %>"><%= port.location %></option>
            <% }) %>
        </select>
        <button type="submit">Add to Itinerary</button>
    </form>

    <h2>Ports in this Itinerary</h2>
    <ul>
        <% itinerary.ports.forEach(function(p) { %>
            <li>
                <%= p.location %>
                <a href="/ports/<%= p._id %>">Details</a>
            </li>
        <% }); %>
    </ul>

    <a href="/itineraries/<%= itinerary._id%>/edit">Edit</a>
    </section>
</body>
</html>