<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Port-Side</title>
      <link rel='stylesheet' href='/stylesheets/reset.css' />
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather&display=swap" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
    <section class="wrapper-all">
    <nav>
        <div class="logo">
            <p>PORT-SIDE</p>
        </div>
        <div class="nav-links">
            <a class="nav-a" href="/logout">Log Out</a>
            <a class="nav-a" href="/members/index">Profile</a>
            <a class="nav-a" href="/ports/">All Ports</a>
            <a class="nav-a" href="/itineraries">All Itineraries</a>
        </div>
    </nav>
        <article class="show-content-wrapper">
            <h1 class="more-title"><%= itinerary.name %></h1>
            <h4><%= itinerary.description %></h2>
            <label id="itin-label" class="add-info-label">Add A Port</label>
            <form action="/itineraries/<%= itinerary._id%>" method="POST">
                <select name="portId">
                    <% ports.forEach(port => { %>
                        <option value="<%= port.id %>"><%= port.location %></option>
                    <% }) %>
                </select><br>
                <button class="add-btn" type="submit">Add to Itinerary</button>
            </form>
        </article>
        <article class="itin-wrapper">
            <ul>
                <% itinerary.ports.forEach(function(p) { %>
                    <li>
                        <p id="location-p"><%= p.location %></p>
                        <a id="detail-a" class="details" href="/ports/<%= p._id %>">Details</a>
                    </li>
                <% }); %>
            </ul>
        </article>
        <div id="outter-wrapper">
            <div class="add-port-btn">
                <a class="add-port-a" href="/itineraries/<%= itinerary._id%>/edit">Edit</a>   
            </div>
        </div>
        </section>
</body>
</html>