<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Port Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
      <a href="/auth/google">Login With Google</a>
      <a href="/logout">Log Out</a>
    </nav>

  <section>
    <h3>Location:</h3>
    <div><%= port.location %></div>
    <h3>Cruise Terminal Locations:</h3>
    <div><%= port.terminal %></div>
    <h3>Seamans Centers:</h3>
    <div><%= port.seamanCenter %></div>
    <h3>Nearby Groceries:</h3>
    <div><%= port.groceries %></div>
    <h3>Nearby Restaurants:</h3>
    <div><%= port.restaurants %></div>
    <h3>Nearby Attractions:</h3>
    <div><%= port.attractions %></div>

  </section>
</body>
</html>