<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Port-Side</title>
      <link rel='stylesheet' href='/stylesheets/reset.css' />
      <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather&display=swap" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
    <section class="wrapper-all">
    <nav>
        <div class="logo">
            <p>PORT-SIDE</p>
        </div>
        <div class="nav-links">
            <a class="nav-a" href="/logout">Log Out</a>
            <a class="nav-a" href="/members/index">Profile</a>
            <a class="nav-a" href="/ports/">All Ports</a>
            <a class="nav-a" href="/itineraries">All Itineraries</a>
        </div>
    </nav>
    <article class="show-content-wrapper">
      <h1 class="more-title"><%= port.location %>:</h1>
      <h3>Cruise Terminal Locations:</h3>
      <ul class="port-uls">
        <% port.terminal.forEach(function(t) { %>
          <li class="show-li">
            <%= t %>
          </li>
        <% }); %>
      </ul>
      <h3>Seamans Centers:</h3>
      <ul class="port-uls">
        <% port.seamanCenter.forEach(function(s) { %>
          <li class="show-li">
            <%= s %>
          </li>
        <% }); %>
      </ul>
      <h3>Nearby Groceries:</h3>
      <ul class="port-uls">
        <% port.groceries.forEach(function(g) { %>
          <li class="show-li">
            <%= g %>
          </li>
        <% }); %>
      </ul>
      <h3>Nearby Restaurants:</h3>
      <ul class="port-uls">
        <% port.restaurants.forEach(function(r) { %>
          <li class="show-li">
            <%= r %>
          </li>
        <% }); %>
      </ul>
      <h3>Nearby Attractions:</h3>
      <ul class="port-uls">
        <% port.attractions.forEach(function(a) { %>
          <li class="show-li">
            <%= a %>
          </li>
        <% }); %>
      </ul>
    <div class="add-info-wrapper">
      <form action="/posts/<%= port._id %>/posts" method="POST">
        <label id="add-info-label">SELECT CATEGORY</label>
        <select name="category">
          <option value="terminal">Cruise Terminal</option>
          <option value="seamanCenter">Seamans Center</option>
          <option value="groceries">Nearby Groceries</option>
          <option value="restaurants">Nearby Restaurants</option>
          <option value="attractions">Nearby Attractions</option>
        </select><br>
        <textarea id="text-input" name="content"  cols="50" rows="7"></textarea><br>
        <input class="btn-input" type="submit" value="submit">
      </form>
    </div>
  </article>
  </section>
</body>
</html>